[Desktop Entry]
Name=GPSStatus
Exec=qmlscene $@ /usr/share/gpsstatus/GPSStatus.qml
Icon=GPSStatus.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

